body{
    font-family: 'Bebas Neue', 'Open Sans', 'Lato', 'Roboto', 'Arial';

}
.main_block {
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
}
#data {
    font-size: 20px;
}
.next_button {
    width: 400px;
    height: 90px;
    font-size: 30px;
    background-color: rgb(229, 9, 20);
    color: white;
    font-weight: bold;
    border: none;
}
